# --- INDEX POUR BINAIRES CUDA ---
# On définit l'index principal (PyPI) et l'index supplémentaire (Torch)
--extra-index-url https://download.pytorch.org/whl/cu124

# --- CORE & UI ---
gradio==6.3.0
gradio_client==2.0.3
pydub
soundfile
python-dotenv
psutil

# --- ACCÉLÉRATEURS GPU ---
#torch==2.6.0
xformers
bitsandbytes
accelerate==1.12.0
ninja

# --- STT & TTS ---
transformers==4.46.1
sentencepiece
protobuf
sherpa-onnx==1.12.23
#parler-tts @ git+https://github.com/huggingface/parler-tts.git

# --- LLM & MCP ---
mcp==1.25.0
pydantic>=2.11.0
pydantic_core>=2.27.0
httpx
openai>=1.50.0
llama-cpp-python==0.3.16
huggingface_hub>=0.28.1

# --- AUDIO UTILS (Versions forcées pour Python 3.12) ---
librosa>=0.10.1
numba>=0.59.0
llvmlite>=0.42.0
#descript-audiotools>=0.7.2
descript-audiotools @ git+https://github.com/descriptinc/audiotools.git
kokoro==0.9.4
onnxruntime-gpu==1.20.1
uv==0.9.26